<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>로그인</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
    <style>
        h3 {background-color: #aaffaa;
            text-align: center;}
    </style>
</head>
<body>
<h3>KIM SERVER</h3>
<form method="post" action="/members/login">
    이메일 :<input type="text" required name="email"><br>
    비밀번호 :<input type="password" required name="pw"><br>
    <button type="submit">로그인</button>
</form>

    <a href="/home">홈으로</a>
</body>
</html>


